# === Virtual Environment ===
env/
venv/
myvenv/

# === Python Bytecode ===
*.py[cod]
__pycache__/
*.so

# === Django Stuff ===
db.sqlite3
*.log
media/
staticfiles/

# === Environment Variables / Secrets ===
.env
*.env

# === VSCode / IDEs ===
.vscode/
.idea/

# === OS Files ===
.DS_Store
Thumbs.db

# === Build Files ===
*.egg-info/
dist/




